.foto-produk{
	width: 200px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 5px 8px 8px rgba(0,0,0,.1);
}
.main-jayus {
  padding-bottom: 30%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #a07d4d; /*edit by Jayus*/
  text-align: center;
}
.con-jayus {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.product-jayus {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}
.heading h1 {
  font-weight: normal;
  color: #382e1e; /*edit by Jayus*/
}
.lesson-icon p {
  position: absolute;
  top: 64%; /*edit by Jayus*/
  width: 100%;
  color: white;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #382e1e; /*edit by Jayus*/
}
@media screen and (max-width: 986px) {
	.main-jayus {
	  padding-bottom: 130%;
	 
	}
	.product-jayus {
	  float: left;
	  width: 60%;
	}
}
@media screen and (max-width: 768px) {
	.main-jayus {
	  padding-bottom: 160%;
	}
	.product-jayus {
	  float: left;
	  width: 60%;
	}
}
@media screen and (max-width: 375px) {
	.main-jayus {
	  padding-bottom: 800%;
	}
	.product-jayus {
	  float: left;
	  width: 60%;
	}
}
